.main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, auto);
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  width: 100%;
}

.transmitter {
  grid-area: 1 / 1 / 2 / 4;
}

.receiver {
  grid-area: 1 / 4 / 2 / 7;
}

.headphones {
  grid-area: 2 / 1 / 3 / 3;
}

.microphones {
  grid-area: 2 / 3 / 3 / 5;
}

.case {
  grid-area: 2 / 5 / 3 / 7;
}

.image {
  width: 100%;
  height: 12.5rem;
  object-fit: contain;
  mix-blend-mode: darken;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: var(--color-dark-20);
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 135%;
  text-align: center;

  & > * + * {
    margin-top: 0.75rem;
  }
}

@media screen and (max-width: 1278px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }

  .transmitter {
    grid-area: 1 / 1 / 2 / 2;
  }

  .receiver {
    grid-area: 1 / 2 / 2 / 3;
  }

  .headphones {
    grid-area: 2 / 1 / 3 / 2;
  }

  .microphones {
    grid-area: 2 / 2 / 3 / 3;
  }

  .case {
    grid-area: 3 / 1 / 4 / 3;
  }
}

@media screen and (max-width: 766px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;

    @supports not (row-gap: 1.5rem) {
      & > * + * {
        margin-top: 1.5rem;
      }
    }
  }
}