.main {
  text-align: center;
  color: var(--color-dark-40);

  &__h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 3.625rem;
    line-height: 4.375rem;

    &_translate {
      font-weight: 500;
      font-size: 3rem;
      line-height: 3.625rem;
      margin-top: 1rem;
    }

    @media screen and (max-width: 575px) {
      font-size: 48px;
      line-height: 58px;

      &_translate {
        font-size: 40px;
        line-height: 48px;
      }
    }
  }

  &__h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    line-height: 3.625rem;
    color: var(--color-dark-50);

    &_translate {
      width: 87%;
      margin-top: 1rem;
      font-weight: 500;
      font-size: 2.625rem;
      line-height: 3.25rem;
      color: var(--color-dark-50);
    }

    @media screen and (max-width: 766px) {
      font-size: 46px;
      line-height: 58px;

      &_translate {
        font-size: 32px;
        line-height: 40px;
      }
    }

    @media screen and (max-width: 575px) {
      font-size: 36px;
      line-height: 45px;

      &_translate {
        font-size: 1.5rem;
        line-height: 30px;
      }
    }
  }

  &__h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.813rem;
    color: var(--color-dark-30);

    &_translate {
      margin-top: 0.5rem;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 1.813rem;
      color: var(--color-dark-30);
    }
  }

  // Colors

  &__white,
  &__white&__h2,
  &__white&__h3 {
    color: var(--color-white-100);
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}