.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  width: 100%;
  padding: 140px 24px 271px;
  overflow: hidden;
  background-size: cover;
  opacity: .8;
  background-position: 50% 40%;
}

.title {
  max-width: 714px;
  color: var(--color-white-100);
}