.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.125rem 3rem 2.625rem;
  gap: 1rem;
  background: var(--color-white-100-shadow-60);
  border: 0.063rem solid var(--color-dark-20-shadow-20);
  box-shadow: 0 0.25rem 0.875rem var(--color-dark-50-shadow-10);
  backdrop-filter: blur(var(--blur-size));
  border-radius: var(--border-radius);

  @media screen and (max-width: 575px) {
    padding: 1.125rem 0.75rem 2rem;
  }
}