.main {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.input {
  display: none;
}

.label {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.875rem;
  color: var(--color-dark-40);
}