.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 8.75rem 1.5rem 17rem;
  overflow: hidden;
  background-size: cover;
  opacity: .8;
  background-position: 50% 40%;
}

.title {
  max-width: 44.625rem;
  color: var(--color-white-100);
}